{% extends 'expenses/base.html' %}


{% block content %}
    <div class="container mt-5">

        <form action="{% url 'preferences' %}" method="post">

            {% csrf_token %}

        <h4>Preferred currency</h4>
        {% include 'partials/_messages.html' %}
        <div class="input-group">
          <select class="form-select rounded-3 mx-1" id="inputGroupSelect04" aria-label="Currency button" name="currency">
            <option selected>{% if current_currency %} {{ current_currency }} {% else %} Choose... {% endif %}</option>
              {% for element in currency_data %}
                  <option> {{ element.name }} - {{ element.value }}</option>
              {% endfor %}
          </select>
            <button class="btn btn-outline-secondary rounded-3" type="submit">Save</button>
        </div>
        <hr>
        </form>
    </div>

{% endblock content %}