{% extends 'expenses/base.html' %}

{% block content %}


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-3">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this expense?
          </div>
          <div class="modal-footer">
              <form action="{% url 'delete-expenses' values.pk %}" method="post">
                  {% csrf_token %}
                    <button type="reset" class="btn btn-secondary rounded-3" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary rounded-3">Delete expense</button>
              </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
        <h2>Edit expenses</h2>
        <div class="row">
            <div class="col-md-10 pt-3 rounded-3" style="background-color: #e7ecef;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Expenses</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-2 pt-2">
                        <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Delete expense
                    </button>
            </div>
        </div>
    </div>

    <div class="container mt-4">

        <div class="card rounded-3">
            <div class="card-body">
                {% include 'partials/_messages.html' %}
                <form action="{% url 'edit-expenses' values.pk %}" method="post">
                    {% csrf_token %}
                <div class="form-floating mb-2">
                <div class="mb-3">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control rounded-3" name="amount" id="amount" value="{{ values.amount }}">
                </div>

                <div class="mb-3">
                    <label for="description">Description</label>
                    <input type="text" class="form-control rounded-3" name="description" id="description" value="{{ values.description }}">
                </div>

                <div class="mb-3">
                    <label for="category">Category</label>
                    <select name="category" class="form-control rounded-3" id="category">
                        <option selected name="category"> {{ values.category }}</option>
                        {% for cat in categories %}
                            {% if cat.name != values.category %}
                                <option name="category">{{ cat }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Date of Expense</label>
                    <input type="date" class="form-control rounded-3" name="date" id="date" value="{{ values.date | stringformat:"s"}}">
                </div>
                <button class="btn btn-lg rounded-3 btn-primary" type="submit" id="SaveButton">Save</button>
{#                <input type="submit" value="Save" class="btn btn-primary">#}
                </div>
                </form>
            </div>
        </div>

</div>
{% endblock content %}