{% extends 'authentication/base_auth.html' %}
{% load static %}


{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5" style="border-radius: 0.5rem">

      <div class="card-body">
        <div class="card-title py-3">
          <h4>Login to your account</h4>
        </div>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}

          <div class="mb-3">
            <input
              type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="{{fieldValues.username}}"
              class="form-control form-control-sm"
            />
          </div>

          <div class="mb-3">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
            <small id="toggleShowPassword" class="float-end py-3">SHOW</small>


          <input type="submit" id="submitLogin" value="Log in" class="btn btn-primary btn-block"
                 data-bs-toggle="modal" data-bs-target="#exampleModal"/>
          </div>
        </form>

      </div>

      </div>
    </div>

  <div class="col-md-4"></div>
</div>


<script src="{% static 'js/login.js' %}"></script>

{% endblock content %}