{% extends 'authentication/base_auth.html' %}
{% load static %}

{% block title %}
    Money Expenses | Password reset
{% endblock %}

{% block title_form %}
    Please enter new password
{% endblock title_form %}

{% block content %}
    <form class="" method="post" action="{% url 'resetPasswordNewPassword' uuid64 token%}">
            {% csrf_token %}
          <div class="form-floating mb-2">

              <div class="form-floating mb-2">
                <input type="password" class="form-control rounded-3" id="passwordField" name="passwordField" placeholder="Password">
                <label for="passwordField">Password</label>
              </div>

                <div id="passwordHelpBlock" class="form-text">
                    <p></p>
                </div>

              <div class="form-floating mb-2">
                <input type="password" class="form-control rounded-3" id="repeatPasswordField" name="repeatPasswordField" placeholder="Repeat password">
                <label for="repeatPasswordField">Password</label>
              </div>

              <div class="my-3 mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="showPasswordToggle">
                <label class="form-check-label" for="showPasswordToggle">Check me out</label>
              </div>


            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <button class="w-90 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" id="resetButton">Reset password</button>
                </div>
            </div>

          </div>
{#            <p class="w-100 text-muted lead mb-1">Remembered the password? <a href="{% url 'login' %}">Sign in</a></p>#}
{#            <p class="w-100 text-muted lead">Create a new account? <a href="{% url 'register' %}">Sign up</a></p>#}
        </form>
{#<script src="{% static 'js/register.js' %}"></script>#}
{% endblock %}

{% block oauth %}
{% endblock oauth %}