{% extends 'authentication/base_auth.html' %}
{% load static %}

{% block title %}
    Money Expenses | Password reset
{% endblock %}

{% block title_form %}
    Please enter your email to get reset link
{% endblock title_form %}

{% block content %}
    <form class="" method="post" action="{% url 'resetPasswordGetLink' %}">
            {% csrf_token %}
          <div class="form-floating mb-2">

          <div class="form-floating mb-2">
            <input type="email" class="form-control rounded-3" id="emailField" placeholder="name@example.com" name="emailField" value="{{ fieldValues.emailField }}">
            <label for="emailField">Email address</label>
          </div>

            <div id="emailHelpBlock" class="form-text mb-2">
                <p></p>
            </div>


            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <button class="w-90 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" id="signInButton">Send link to email</button>
                </div>
            </div>

          </div>
            <p class="w-100 text-muted lead mb-1">Remembered the password? <a href="{% url 'login' %}">Sign in</a></p>
            <p class="w-100 text-muted lead">Create a new account? <a href="{% url 'register' %}">Sign up</a></p>
        </form>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block oauth %}
{% endblock oauth %}